* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; /*== vừa khít trang==*/
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0;
    
    
}
#menungang{
    width: 100%;
    float: top;/*== phân biệt float, pos, letf, right  margin: 0 auto;==*/
}

#menungang ul{
    
    list-style-type: none;
    left: 0;
    padding: 1em;
    text-align: right;
    background-color: rgb(34, 32, 32);
    
}
.logo{
     float: left;
     padding: 0 1em;
}
#menungang li {
    color: #f1f1f1;
    display: inline-block;
    width: 150px;/*== chieu dai lis==*/
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
#menungang a {
    display: block;
    color: #fff;
    padding: 0 ;/*== bằng với 0 1em dòng 32 padding: 0==*/
    border-right: 1px solid #333;
    text-decoration: none;/*== bo gach chan==*/
        text-align: center;
      }
#menungang a:hover {
    background-color: rgb(88, 86, 86);
        
      }
#menungang ul li > .sub-menu  {
        display: none;
      }
#menungang li {
       position: relative;
      }
.sub-menu {
       display: none;
       position: absolute;
       z-index: 5;
      }
#menungang li:hover .sub-menu {
       display: block;
       color: #fff;
       padding: 0 ;
       text-decoration: none; /*== bo gach chan o day k can thiet==*/
        text-align: center;
      }
.sub-menu li {
       margin-left: 0 !important;
       border-bottom: 1px solid #333;/*== chia khung li==*/
    }
       





#container{
    padding-left: 150px; /*== equal  margin: 0 auto;==*/
    position: relative;
    left: 0; 
    width: 100%;
}
#con{
    
    padding-left: 50px; /*== equal  margin: 0 auto;==*/
    position: relative;
    left: 0; 
    width: 50px;
    height: 50px;
    
}

#menu{
    position: fixed;
    height: 100%;
    left: 0; 
    background-color: rgb(34, 32, 32);
    width: 150px;
    
}
#menu ul{
    list-style-type: none;
    left: 0;
    padding: 0;
}
#menu ul li {
    line-height: 2.9em;
    height: 2.9em;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
#menu li a {
    display: block;
    color: #fff;
    padding: 0 1em;
    border-bottom: 1px solid #333;
    text-decoration: none; /*== bo gach chan==*/
   }
#menu li:hover {
    background-color: #454545;
}

#noidung{
    padding: 0em  0em;
}
#header{
    padding: 0.5em;
    
}
#sildebar{
    float: left;
    background-color: rgb(192, 192, 190);
    width: 30%;
    padding: 1%;
    height: 460px;
}
#content{
    float: right;
    background-color: rgb(212, 219, 219);
    width: 70%;
    padding: 1%;
    height: 460px;
}
#footer{
    clear: both;
    background-color: rgb(241, 223, 223);
    padding: 1em;
}
